body {
  background-color: #333;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.slider-frame {
  overflow: hidden;
  height: 800px;
  width: 1200px;
  margin-left: 360px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  text-align: center;
  color: white;
}

/*---Slide Animation---*/

@-webkit-keyframes slide_animation {
  0% {
    left: 0px;
  }
  10% {
    left: 0px;
  }
  20% {
    left: 1200px;
  }
  30% {
    left: 1200px;
  }
  40% {
    left: 2400px;
  }
  50% {
    left: 2400px;
  }
  60% {
    left: 1200px;
  }
  70% {
    left: 1200px;
  }
  80% {
    left: 0px;
  }
  90% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

.slide-images {
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

.img-container {
  height: 800px;
  width: 1200px;
  position: relative;
  float: left;
}

/*---End of Animation---*/

.card-columns {
  width: 47rem;
}

.card {
  margin-left: 26rem;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}
